<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="static/css/format.css">
    <script src="../static/js/function.js"></script>
    <title>Artistas</title>
</head>

<body class="artists_page">
    <h1>ARTISTAS</h1>
    <div class="artists_back" onclick="redirectMenu()"><img src="../static/images/arrow-right.png"></div>
</body>

</html>