<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="static/css/format.css">
		<script src="../static/js/function.js"></script>
		<title>Museo Totemiq</title>
		<meta name="description" content="Saludos. Se les da la bienvenida al museo virtual de Totemiq.">
	</head>

	<body class="index_page">
		<div class="page_left"><img src="../static/images/boulder-left.png"></div>
		<div class="page_right"><img src="../static/images/boulder-right.png"></div>
		<div class="page_center" onclick="redirectMenu()"><img src="../static/images/door.png"></div>
		<div class="index_title_container">MUSEO TOTEMIQ</div>
	</body>

</html>
