<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="static/css/format.css">
    <script src="../static/js/function.js"></script>
    <title>Recepción</title>
</head>

<body class="menu_page">
    <div class="page_center"><img src="../static/images/torito.png"></div>
    <div class="menu_container">
        <div class="menu_flexbox">
                <div class="menu_artists" onclick="redirectArtists()">Artistas</div>
                <div class="menu_works" onclick="redirectWorks()">Obras</div>
        </div>
    </div>
</body>

</html>