<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="static/css/format.css">
    <script src="../static/js/function.js"></script>
    <title>Obras</title>
</head>

<body class="works_page">
    <h1>OBRAS</h1>
    <div class="works_container" id="worksContainer"></div>
    <div class="works_back" onclick="redirectMenu()"><img src="../static/images/arrow-left.png"></div>
</body>

</html>
